table {
	width: 350px;
}

th {
	text-align: center;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}
 
tr:nth-child(even) {
	background-color: #fff;
}

tr:nth-child(odd) {
	background-color: #ddd;
}